.page__background {
    background-color: #EEEEEE;
    border-radius: 8px;
    flex: 1;
}

.page__body {
    padding: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users__item>* {
    width: 20%;
}

.img__button {
    width: 48px;
    cursor: pointer;
}



@media (max-width: 980px) {
    .page__header>h1 {
        font-size: 24px;
    }
}