.page__compose {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.user__form {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 40%;
}