:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  --header_bg: #D9D9D9;
  --primary_button-bg: #9b9b9b;
  --primary_button-text: black;
  --secondary_button-bg: #e8e4e4;
  --secondary_button-text: black;
  --radius_8: 8px;
  --input_border: #9b9b9b;
  --border_color: #C2C2C2;
  --warning-color: #DDD37C;
  --link-color: #576AD1;
  --link-hover: #4253AE;
  --tablehead_color: #3d3d3d;
}

body, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.global__wrapper {
  max-width: 80vw;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

h2, h1, h3 {
  margin: 0;
  align-self: center;
}

input[type=text], input[type=email], input[type=password], textarea {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  /* background-color: ; */
  border: 1px solid var(--input_border);
  border-radius: var(--radius_8);
}

textarea {
  resize: none;
  box-sizing: content-box;
  min-height: 90px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  border-radius: var(--radius_8);
  border: 1px solid var(--input_border);
}

.controlpage__background {
  background-color: #EEEEEE;
  border-radius: 8px;
  flex: 1;
}

.w_10 {
  width: 48px;
}

.page__body {
  padding: 17px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.page__compose {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}