:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  --header_bg: #D9D9D9;
  --primary_button-bg: #9b9b9b;
  --primary_button-text: black;
  --secondary_button-bg: #e8e4e4;
  --secondary_button-text: black;
  --radius_8: 8px;
  --input_border: #9b9b9b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.global__wrapper {
  max-width: 80vw;
  padding: 0 15px;
  margin: 0 auto;
}


h2, h1, h3 {
  margin: 0;
}

input[type=text], input[type=email], input[type=password] {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  /* background-color: ; */
  border: 1px solid var(--input_border);
  border-radius: var(--radius_8);
}

.label {
  display: flex;
  flex-direction: column;
}

.controlpage__background {
  background-color: #EEEEEE;
  border-radius: 8px;
  flex: 1;
}

.w_10 {
  width: 48px;
}

.page__body {
  padding: 17px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}